---
layout: archive
---

{{ content }}

{% assign alldocs = site.documents %}
{% assign grouptag =  alldocs | map: 'tags' | join: ','  | split: ','  | group_by: tag %}

<ul class="taxonomy__index">
  {%- for i in (1..tags_max) reversed -%}
    {%- for tag in grouptag -%}
      {%- if tag.size == i -%}
        <li>
          <a href="#{{ tag.name | slugify }}">
            <strong>{{ tag.name }}</strong> <span class="taxonomy__count">{{ i }}</span>
          </a>
        </li>
      {%- endif -%}
    {%- endfor -%}
  {%- endfor -%}
</ul>
