---
layout: archive
---

{{ content }}

{% assign alldocs = site.documents %}
{% assign grouptag =  alldocs | map: 'tags' | join: ','  | split: ','  | group_by: tag %}

{%- for tag in grouptag -%}
    <h2 class="archive__subtitle">{{ tag.name }}</h2>
    <div class="entries-{{ entries_layout }}">
    {%- for post in alldocs -%}
      {%- if (post.tags contains tag.name) and (! post.collection.empty?) -%}
        {% include archive-single.html type=entries_layout %}
      {%- endif -%}
    {%- endfor -%}
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
{%- endfor -%}
